<html>
	<head>
		<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="/static/base.css" rel="stylesheet" media="screen">
	</head>
	<body>
		{% for school in schools %}
		<div style="border-radius: 10px; border: 5px solid black; width: 100%; padding: 10px; margin: 10px;">
			<h1>{{ school.name }}</h1>
			<span>{{ school.dbn }}</span>
			<span>{{ school.district }}</span>
			<span>{{ school.principal }}</span>
			<span>{{ school.progress_report_type }}</span>
			<span>{{ school.school_level }}</span>
			<br/><br/>
			<div class="btn">School</div>
		</div>
		{% endfor %}
	</body>
</html>